body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: 0.77rem 0;
  background-color: #d4af37;
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 1.88rem;
  color: black;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
}

/* h1 .highlight {
  color: #6c41ec;
} */

h2 {
  font-family: "Cinzel", serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url("https://cdn.pixabay.com/photo/2015/11/22/19/04/crowd-1056764__480.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Cinzel", serif;
  font-weight: 500;
  color: #fff;
  /* -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black; */
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
